name: Free-RDP

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Download LocalXpose
      run: |
        Invoke-WebRequest https://loclx-client.s3.amazonaws.com/loclx-windows-amd64.zip -OutFile lx.zip
        Expand-Archive lx.zip -DestinationPath loclx
        dir loclx

    - name: Authenticate LocalXpose
      run: |
        .\loclx\loclx.exe authtoken ${{ secrets.LOCALXPOSE_AUTH_TOKEN }}

    - name: Enable RDP
      run: |
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "fDenyTSConnections" -Value 0

    - name: Start RDP Tunnel
      run: |
        .\loclx\loclx.exe tcp 3389
