name: Cloudflare-RDP-Final
on: 
  workflow_dispatch:

jobs:
  rdp-session:
    runs-on: windows-latest
    timeout-minutes: 360
    steps:
    - name: Setup Environment
      run: |
        Invoke-WebRequest https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe -OutFile cloudflared.exe
        Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        net user NoahNW "Iloveriley123$" /add
        net localgroup Administrators NoahNW /add

    - name: Start Tunnel
      run: |
        Write-Host "--- WAITING FOR TUNNEL ADDRESS ---"
        .\cloudflared.exe tunnel --url tcp://localhost:3389
