name: Free RDP (Cloudflare)

on:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
    - name: Download Cloudflared
      run: |
        Invoke-WebRequest https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.exe -OutFile cloudflared.exe

    - name: Enable RDP
      run: |
        Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

    - name: Create RDP user
      run: |
        net user NoahNW "Iloveriley123$" /add
        net localgroup Administrators NoahNW /add
        net localgroup "Remote Desktop Users" NoahNW /add

    - name: Start Cloudflare Tunnel
      run: |
        .\cloudflared.exe tunnel run --token ${{ secrets.CLOUDFLARE_TOKEN }}
